## Deliverable 2. Create a Customer Travel Destinations Map.

In [19]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
from config import g_key1

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current_Description
0,0,Kamenka,51.3223,42.7678,47.08,49,0,5.41,RU,2021-10-10 16:18:47,clear sky
1,1,Tilichiki,60.4667,166.1000,26.67,77,73,3.87,RU,2021-10-10 16:18:47,broken clouds
2,2,Ijui,-28.3878,-53.9147,78.82,74,95,10.87,BR,2021-10-10 16:18:48,overcast clouds
3,3,Saint George,37.1041,-113.5841,61.27,52,1,1.99,US,2021-10-10 16:15:46,clear sky
4,4,Mataura,-46.1927,168.8643,54.48,87,100,2.71,NZ,2021-10-10 16:28:42,moderate rain

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp)&(city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(5)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current_Description
2,2,Ijui,-28.3878,-53.9147,78.82,74,95,10.87,BR,2021-10-10 16:18:48,overcast clouds
9,9,Hithadhoo,-0.6000,73.0833,83.62,68,80,13.04,MV,2021-10-10 16:18:49,broken clouds
10,10,Camapua,-19.5314,-54.0439,89.51,50,95,4.85,BR,2021-10-10 16:18:49,light rain
17,17,Miram Shah,33.0086,70.0697,76.41,31,0,1.32,PK,2021-10-10 16:18:51,clear sky
19,19,Lorengau,-2.0226,147.2712,81.41,77,97,5.73,PG,2021-10-10 16:18:52,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                234
City                   234
Lat                    234
Lng                    234
Max Temp               234
Humidity               234
Cloudiness             234
Wind Speed             234
Country                231
Date                   234
Current_Description    234
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.count()

City_ID                231
City                   231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Country                231
Date                   231
Current_Description    231
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current_Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
2,Ijui,BR,78.82,overcast clouds,-28.3878,-53.9147,
9,Hithadhoo,MV,83.62,broken clouds,-0.6000,73.0833,
10,Camapua,BR,89.51,light rain,-19.5314,-54.0439,
17,Miram Shah,PK,76.41,clear sky,33.0086,70.0697,
19,Lorengau,PG,81.41,overcast clouds,-2.0226,147.2712,
29,Bumbuna,SL,82.11,moderate rain,9.0500,-11.7333,
32,Butaritari,KI,81.50,few clouds,3.0707,172.7902,
37,Victoria,HK,80.94,light rain,22.2855,114.1577,
39,Progreso,MX,88.11,broken clouds,21.2833,-89.6667,
40,Kapaa,US,76.12,light rain,22.0752,-159.3190,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key1
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotel = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
2,Ijui,BR,78.82,overcast clouds,-28.39,-53.91,Hotel Vera Cruz
9,Hithadhoo,MV,83.62,broken clouds,-0.60,73.08,Scoop Guest House
10,Camapua,BR,89.51,light rain,-19.53,-54.04,Comercial Estrela
17,Miram Shah,PK,76.41,clear sky,33.01,70.07,Bachelor Hostel
19,Lorengau,PG,81.41,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...
705,Avera,US,78.67,broken clouds,33.19,-82.53,
706,Luba,GQ,79.00,light rain,3.46,8.55,
710,Magnolia,US,81.66,clear sky,33.27,-93.24,Budget Inn
711,Nishihara,JP,82.45,light rain,26.18,127.76,Minshuku Agaihama
713,Gat,IL,79.39,clear sky,31.61,34.76,OlusHome

In [24]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df=hotel_df[hotel_df["Hotel Name"] != "NA"]
pd.options.display.float_format = "{:,.2f}".format
hotel_df

,City,Country,Max Temp,Current_Description,Lat,Lng,Hotel Name
2,Ijui,BR,78.82,overcast clouds,-28.39,-53.91,Hotel Vera Cruz
9,Hithadhoo,MV,83.62,broken clouds,-0.60,73.08,Scoop Guest House
10,Camapua,BR,89.51,light rain,-19.53,-54.04,Comercial Estrela
17,Miram Shah,PK,76.41,clear sky,33.01,70.07,Bachelor Hostel
19,Lorengau,PG,81.41,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...
705,Avera,US,78.67,broken clouds,33.19,-82.53,
706,Luba,GQ,79.00,light rain,3.46,8.55,
710,Magnolia,US,81.66,clear sky,33.27,-93.24,Budget Inn
711,Nishihara,JP,82.45,light rain,26.18,127.76,Minshuku Agaihama
713,Gat,IL,79.39,clear sky,31.61,34.76,OlusHome

In [28]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current_Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
markers_location = locations
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))